:root {
  font-size: 62.5%;
  --font-text: 'Inter';
  --font-code: 'Inconsolata';
  --font-heading: 'Playfair Display';
  --font-subheading: 'Josefin Sans';
  --font-color-link: #dac9a6;
  --font-color-heading-primary: #fcfaf2;
  --font-color-heading-secondary: #dac9a6;
  --font-color-heading-tertiary: #9e7a7a;
  --font-color-primary: #bdc0ba;
  --background-primary: #111111;
  --selection-background: #fedfe1;
  --scrollbar-background: #202324;
  --scrollbar-thumb-color: #454a4d;
  --scrollbar-corner-color: #181a1b;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--background-primary);
  color: var(--font-color-primary);
  font-size: 1.6rem;
  font-family: var(--font-text);
  overflow: hidden auto;
}

::selection {
  color: var(--background-primary);
  background-color: var(--selection-background);
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}
