:root {
  font-size: 62.5%;
  --background-primary: #111111;
  --selection-background: #fedfe1;
  --scrollbar-background: #202324;
  --scrollbar-thumb: #454a4d;
  --scrollbar-corner: #181a1b;
}

body {
  height: 100%;
  width: 100%;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-family: 'Inter';
  overflow: hidden auto;
  background-color: var(--background-primary);
}

::selection {
  color: var(--background-primary);
  background-color: var(--selection-background);
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
