@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--transparent: hsla(0, 0%, 100%, 0);
	--scrollbar-thumb-color: #2b2d2e;
	--background-color: #15141c;
	--min-screen: 350px;
	--gold: rgb(218, 201, 166);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	background-color: var(--background-color);
	color: #ffffff;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	min-width: var(--min-screen);
	min-height: 100%;
}

.link {
	position: relative;
}
.link::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: var(--gold);
	transform-origin: left;
	transform: scaleX(0);
	transition: transform 200ms ease-out;
}
.link:hover::after {
	transform: scaleX(1);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color: var(--background-color);
}

::-webkit-scrollbar-corner {
	background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 16px;
}

.anime {
	opacity: 0;
	transform: translateY(-50px) scale(0.94);
	transition: all 500ms ease;
}

.anime-done {
	opacity: 1;
	transform: translateY(0px) scale(1);
}
