@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;

	--transparent: hsla(0, 0%, 100%, 0);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #15141c;
		background-color: #ffffff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #15141c;
		color: #ffffff;
	}
}
