@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	/* font-weight: 400; */

	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;

	--transparent: hsla(0, 0%, 100%, 0);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #15141c;
		background-color: #ffffff;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #15141c;
		color: #ffffff;
	}
}

.gradient-bg {
	background: radial-gradient(ellipse at center, rgba(0, 225, 244, 0.15), var(--transparent));
}
